name: Jest Coverage Comment

on:
  pull_request:


jobs:
  coverage-comment:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 14

      - name: Install dependencies
        run: yarn ci:install

      - name: Run tests and generate coverage
        run: yarn ci:test

      - name: Extract coverage report
        id: coverage
        run: |
          node -e '
          const coveragePath = "coverage/lcov-report/index.html";
          const fs = require("fs");
          const report = fs.readFileSync(coveragePath, "utf8");
          console.log(report);
          console.log("::set-output name=report::" + report)
          '

      - name: Add comment to PR
        uses: peter-evans/create-or-update-comment@v3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            ## Jest Coverage Report
            <details>
            <summary>Coverage Details</summary>
                  
            ![Coverage Report](https://github.com/${{ github.repository }}/blob/${{ github.sha }}/${{ steps.coverage.outputs.report }})
                  
            </details>